<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <h2>Enter a website to get all absolute links on the page</h2>
      <h3>Use http:// and click on links below to explore</h3>
      <div id="imaginary_container"> 
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Search" >
          <span class="input-group-addon">
            <button type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

      <div id="results" onload="loadClick()"></div>

    </div>
  </div>
</div>

